<section id="contact">
  <div data-aos="fade-right">
    <h2 >{{ "contact" | translate }}</h2>
  </div>
  <div>
    <div data-aos="fade-right">
      <div>
        <h4>{{ "contact_text1" | translate }}</h4>
        <p>
          {{ "contact_text2" | translate }}
        </p>
        <span
          >{{ "contact_text3" | translate }}
          <b>{{ "contact_text4" | translate }}</b></span
        >
      </div>
    </div>
    <div>
      <form
        (ngSubmit)="onSubmit(contactForm)"
        #contactForm="ngForm"
        data-aos="fade-left"
      >
        <div>
          <div>
            <input
              [(ngModel)]="contactData.name"
              [ngClass]="{
                invalid:
                  (name.invalid && name.touched) ||
                  (name.invalid && contactForm.submitted),
                valid: name.valid && name.touched
              }"
              name="name"
              type="text"
              placeholder="{{ 'name_input' | translate }}"
              #name="ngModel"
              required
            />
            @if (name.invalid && name.touched || name.invalid &&
            contactForm.submitted) {
            <span>{{ "required_name" | translate }}</span>
            }
          </div>
          <div>
            <input
              [(ngModel)]="contactData.email"
              [ngClass]="{
                invalid:
                  (email.invalid && email.touched) ||
                  (email.invalid && contactForm.submitted),
                valid: email.valid && email.touched
              }"
              name="email"
              type="email"
              placeholder="{{ 'email_input' | translate }}"
              #email="ngModel"
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,5}"
              required
            />
            @if (email.invalid && email.touched || email.invalid &&
            contactForm.submitted) {
            <span>{{ "required_mail" | translate }}</span>
            }
          </div>
          <div>
            <textarea
              [(ngModel)]="contactData.message"
              [ngClass]="{
                invalid:
                  (message.invalid && message.touched) ||
                  (message.invalid && contactForm.submitted),
                valid: message.valid && message.touched
              }"
              name="message"
              placeholder="{{ 'message_input' | translate }}"
              #message="ngModel"
              required
            ></textarea>
            @if (message.invalid && message.touched || message.invalid &&
            contactForm.submitted) {
            <span>{{ "required_message" | translate }}</span>
            }
          </div>
        </div>
        <div>
          <div>
            <input
              type="checkbox"
              [ngModel]
              name="checkbox"
              #checkbox="ngModel"
              required
            />
            <span
              >{{ "check_text1" | translate }}
              <a href="privacy-policy">{{ "check_text2" | translate }} </a
              >{{ "check_text3" | translate }}</span
            >
          </div>
          @if (checkbox.invalid && contactForm.submitted) {
          <span>{{ "check_text4" | translate }}</span>
          }
        </div>
        <button
          class="btn"
          [disabled]="!checkbox"
          [ngClass]="{
            disabled:
              name.invalid ||
              email.invalid ||
              message.invalid ||
              checkbox.invalid
          }"
          data-aos="fade-up"
        >
          {{ "message_button" | translate }}
        </button>
      </form>
      <div data-aos="fade-up">
        <a href="#top"><button></button></a>
      </div>
    </div>
  </div>
</section>
