@import "./../../shared/variables/variables.scss";
@import "./../../../styles.scss";

$valid: #70e61c;
$invalid: #e61c40;

section {
  @include flexbox($fd: column);
  padding-top: 120px;
  background-image: url(./../../../assets/img/contact/shadow.png);
  background-repeat: no-repeat;
  background-position: bottom -300px left;
  > div:first-of-type {
    @include flexbox($jc: flex-start);
    > div {
      height: 4px;
      width: 50px;
      margin-right: 50px;
      background-color: var(--green);
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  
    h2 {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: -70px;
        top: 50%;
        height: 0.2rem;
        width: 4rem;
        background-color: var(--lightBlue);
      }
    }
   
  }
  > div:last-of-type {
    @include flexbox($ai: unset);
    width: 100%;
    margin-top: 4rem;
    padding: 0 7.5rem;
    > div:first-of-type {
      width: 50%;
      > div {
        max-width: 480px;
        margin-right: 2rem;
        > h4 {
          font-size: 2rem;
        }
        > p {
          margin-top: 2rem;
          margin-bottom: 1.5rem;
          line-height: 1.25;
        }
      }
    }
    > div:last-of-type {
      @include flexbox($fd: column, $g: 40px);
      width: 50%;
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      > div {
        @include flexbox($jc: flex-end);
        width: 100%;
        button {
          width: 40px;
          height: 40px;
          margin-bottom: 1rem;
          background-image: url(./../../../assets/img/contact/arrow_up.png);
          background-position: center;
          background-repeat: no-repeat;
          background-color: transparent;
          border: unset;

          &:hover {
            background-image: url(./../../../assets/img/contact/arrow_up_hover.png);
            cursor: pointer;
          }
        }
      }
    }
  }
}

form {
  @include flexbox($fd: column);
  width: 100%;
  > div:first-of-type {
    @include flexbox($fd: column, $g: 32px);
    width: 100%;
    > div {
      width: 100%;
      @include flexbox($fd: column, $ai: flex-start, $g: 6px);
      > input,
      > textarea {
        width: 100%;
        padding: 10px 20px;
        background-color: var(--background);
        border: 1px solid var(--turquoise);
        outline-color: var(--lightBlue);
        color: var(--fontColor);
        border-radius: 8px;
        font-size: var(--font-size);
        resize: vertical;
        &::placeholder {
          color: var(--fontColor);
        }
        &:hover {
          cursor: pointer;
          border: 1px solid var(--lightBlue);
        }
        &:focus-visible {
          outline: 1px solid var(--turquoise);
          border: 1px solid var(--turquoise);
        }
        &::-webkit-resizer {
          background-image: url(./../../../assets/img/contact/resizer.png);
          background-repeat: no-repeat;
        }
      }
      > textarea {
        min-height: 200px;
      }
      > span {
        font-size: var(--font-size);
        color: $invalid;
      }
    }
  }
  > div:last-of-type {
    @include flexbox($fd: column, $ai: unset);
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: var(--font-size);
    > div {
      @include flexbox($g: 8px, $ai: unset);
      input {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 1.5rem;
        height: 1.5rem;
        background-image: url(./../../../assets/img/contact/checkbox.png);
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        &:hover {
          background-image: url(./../../../assets/img/contact/checkbox_hover.png);
        }
        &:checked {
          background-image: url(./../../../assets/img/contact/checkbox_checked.png);
        }
        &:checked:hover {
          background-image: url(./../../../assets/img/contact/checkbox_checked_hover.png);
        }
      }
      > span {
        width: 100%;
        a {
          text-decoration: none;
          color: var(--green);
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
    > span {
      color: $invalid;
    }
  }
}

.invalid {
  border: 1px solid $invalid !important;
  outline-color: $invalid !important;
  background-image: url(./../../../assets/img/contact/invalid.png);
  background-position: right 20px top 10px;
  background-repeat: no-repeat;
  &:focus-visible {
    outline: 1px solid $invalid !important;
    border: 1px solid $invalid !important;
  }
}

.valid {
  border: 1px solid $valid !important;
  outline-color: $valid !important;
  background-image: url(./../../../assets/img/contact/valid.png);
  background-position: right 20px top 10px;
  background-repeat: no-repeat;
  &:focus-visible {
    outline: 1px solid $valid !important;
    border: 1px solid $valid !important;
  }
}

.disabled {
  background-color: grey !important;
}

@media (max-width: 1440px) {
  section {
    > div:first-of-type {
      > h1 {
        font-size: clamp(50px, 6.5vw, 90px);
      }
    }
  }
}

@media (max-width: 1000px) {
  section {
    background-position: bottom -400px left -50px;
    > div:first-of-type {
      > div {
        width: 2rem;
        margin-right: 18px;
      }
    }
    > div:last-of-type {
      padding: 0 50px;
    }
  }
}

@media (max-width: 720px) {
  :host {
    > div {
      > span {
        padding: 20px 32px;
        font-size: var(--font-size);
      }
    }
  }
  section {
    > div:last-of-type {
      @include flexbox($fd: column, $g: 48px);
      > div:first-of-type {
        width: 100%;
        padding-right: unset;
      }
      > div:last-of-type {
        width: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  section {
    background-position: bottom -500px left -100px;
    > div:first-of-type {
      > div {
        width: 1rem;
        margin-right: 4px;
      }
      > h1 {
        font-size: clamp(40px, 10vw, 60px);
      }
    }
    > div:last-of-type {
      padding: 0 20px;
    }
  }
}
