<header>
  <a class="logo" href="#top">
    <img src="./../../../../assets/img/logo.png" />
  </a>
  <label class="burger" for="burger">
    <input type="checkbox" id="burger" (click)="toggleMenu()" />
    <span></span>
    <span></span>
    <span></span>
  </label>

  <div class="links" [class.isOpen]="isMenuOpen">
    <a href="#aboutMe" (click)="closeMenu()">{{ 'about_me' | translate }}</a>
    <a href="#skills" (click)="closeMenu()">{{ 'skills' | translate}}</a>
    <a href="#portfolio" (click)="closeMenu()">Portfolio</a>
    <a href="#contact" (click)="closeMenu()">{{ 'contact' | translate}}</a>

    <div class="language">
      <p (click)="translate.switchLanguage('en')">EN</p>
      <p (click)="translate.switchLanguage('de')">DE</p>
    </div>
    
  </div>
</header>
