@import "../../../../styles.scss";
@import "../../../shared/variables/variables.scss";

.header_container {
  @include flexbox;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6rem;
  padding: 1rem 10%;
  z-index: 999;
  background-color: var(--background);

  .logo {
    width: 11rem;
    height: 9rem;
    margin-right: auto;
  }
}

.nav_menu {
  display: flex;
  text-align: center;

  > a {
    color: var(--fontColor);
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 4rem;

    &:hover {
      color: var(--green);
      transition: 0.5s;
    }
  }
}

#burgerMenu {
  display: none;
  cursor: pointer;
}

@media (max-width: 799px) {
  .nav_menu a {
    display: none;
  }

  #burgerMenu {
    display: flex;
  }
}


