@import "../../../styles.scss";
@import "../../../app/shared/variables/variables.scss";

$mobile-breakpoint: 520px;
$mobile-breakpoint-2: 800px;
$mobile-breakpoint-3: 1100px;
$mobile-breakpoint-4: 1400px;

.portfolio_container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 6rem;
  overflow-x: clip;
  .spot_blue {
    position: absolute;
    z-index: -1;
    right: -400px;
    top: -200px;
  }
  .spot_green {
    position: absolute;
    z-index: -1;
    left: -650px;
    top: 500px;
  }
  .head {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: var(--padding-page);
    .line {
      position: absolute;
      left: 0;
    }
  }
  p {
    padding: var(--padding-page);
  }
  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-page);
    gap: 20px;
    img {
      width: 80%;
      max-width: 550px;
    }
    div {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 20px;
      .project_name {
        color: var(--blue);
        font-family: var(--font-black);
        font-size: var(--subheadline-size);
      }
      .project_tec {
        color: var(--lightblue);
        font-size: var(--subheadline-size2);
      }
      .project_links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
      }
    }
  }
}

@media (min-width: $mobile-breakpoint-2) {
  .spot_blue {
    right: -350px !important;
    top: -150px !important;
  }
  .spot_green {
    left: -600px !important;
    top: 500px !important;
  }
}

@media (min-width: $mobile-breakpoint-3) {
  .project {
    flex-direction: row !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    gap: 50px !important;
    div {
      text-align: start !important;
      .project_links {
        justify-content: flex-start !important;
      }
    }
  }
  .project:nth-child(even) {
    flex-direction: row-reverse !important;
    div {
      text-align: end !important;
      .project_links {
        justify-content: flex-end !important;
      }
    }
  }
  .spot_blue {
    right: -290px !important;
    top: -100px !important;
  }
}

@media (min-width: $mobile-breakpoint-4) {
  .spot_blue {
    right: -220px !important;
    top: -100px !important;
  }
  .spot_green {
    left: -500px !important;
    top: 500px !important;
  }
}
