<section class="portfolio_container" id="portfolio">
  <img src="./../../../assets/img/shadows/blue3.png" class="spot_blue" />
  <img src="./../../../assets/img/shadows/green1.png" class="spot_green" />
  <div class="head">
    <img src="./../../../assets/img/skills/greenSmallLeft.png" class="line" />
    <h2>Portfolio</h2>
  </div>
  <p>This page is a sample of my work - please feel free to try them out.</p>
  <div class="project" *ngFor="let project of projects; let i = index">
    <img src="./../../../assets/img/portfolio/{{ project.img }}" />
    <div>
      <div class="project_name">{{ project.name }}</div>
      <div class="project_tec">{{ project.technologies }}</div>
      <div class="project_desc">{{ project.description }}</div>
      <div class="project_links">
        <button class="btn" (click)="openNewWindow(project.link)">
          Live test
        </button>
        <button class="btnEmpty" (click)="openNewWindow(project.github)">
          Github
        </button>
      </div>
    </div>
  </div>
</section>
