<section class="skill_container" id="skills">
  <div class="skill_content" data-aos="fade-left">
    <div class="skills">
      <h2>{{ 'skills' | translate}}</h2>
      <img class="line" src="./../../../assets/img/skills/lightblueRight.png" />
    </div>

    <p>
      {{ 'skills_text' | translate}}
    </p>

    <div class="skill_list_mobile" data-aos="fade-right">
      <div class="skill_icons" *ngFor="let skill of skills; let i = index">
        <img
          src="./../../../assets/img/skills/{{ skillImg[i] }}"
          alt="Tech Stack Icons"
        />
        {{ skill }}
      </div>
    </div>
    <a class="skill_btn" [href]="emailstring">
      <button class="btn">{{ 'skills_text_button' | translate}}</button>
    </a>
  </div>

  <div class="skill_list_desktop" data-aos="fade-right">
    <div class="skill_icons" *ngFor="let skill of skills; let i = index">
      <img
        src="./../../../assets/img/skills/{{ skillImg[i] }}"
        alt="Tech Stack Icons"
      />
      <p>{{ skill }}</p>
    </div>
  </div>
</section>
