@import "../../shared/variables/variables.scss";
@import "../../../styles.scss";

.skill_container {
  @include flexbox($fd: column, $g: 20px);
  z-index: 7;
  overflow: hidden;
  padding-top: 5rem;

  .skill_content {
    display: flex;
    flex-direction: column;

    .skills {
      @include flexbox($fd: column, $jc: center, $g: 1rem);
      padding: var(--padding-page);
      text-wrap: wrap;

      h2 {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          right: -40px;
          top: 50%;
          height: 0.2rem;
          width: 2rem;
          background-color: var(--turquoise);
        }
      }

      p {
        text-align: center;
        margin-bottom: 2rem;
        padding: var(--padding-page);
        z-index: 5;
      }

      .skill_btn {
        align-self: center;
        margin: 20px 0px;
        z-index: 5;
      }
    }

    .skill_list_mobile {
      @include flexbox($fd: row, $g: 20px);
      flex-wrap: wrap;
      word-wrap: break-word;
      text-wrap: balance;
      margin-block: 2rem;
      padding: var(--padding-page);
      z-index: 5;

      .skill_icons {
        @include flexbox($fd: column, $ai: center, $g: 1rem);
        text-align: center;
        width: 90px;

        img {
          height: 100%;
          object-fit: contain;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }

  .skill_list_desktop {
    @include flexbox();
    display: none;
    flex-wrap: wrap;
    margin-left: 10rem;
    z-index: 5;

    .skill_icons {
      @include flexbox($fd: column, $ai: center, $g: .5rem);
      text-align: center;
      width: 130px;

      img {
        height: 100%;
        object-fit: contain;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

@media (min-width: 1100px) {
  .skill_container {
    flex-direction: row-reverse;
    justify-content: space-around !important;
    align-items: center;
    min-height: 50vh;
    gap: 50px;

    .skill_content {
      padding: var(--padding-page);
      padding-left: unset !important;
      width: 30%;
      min-width: 460px;

      .skill_btn {
        align-self: flex-start;
      }
    }

    .skill_list_mobile {
      display: none !important;
    }

    .skill_list_desktop {
      display: flex !important;
      padding-right: unset !important;
      max-width: 540px;
    }
  }
}

@media (min-width: 1400px) {
  .skill_list_desktop {
    padding-top: 90px !important;
    padding-bottom: 90px !important;
    display: flex !important;
    padding-right: unset !important;
    max-width: 585px !important;
    gap: 90px !important;
  }
}

@media (max-width: 420px) {
  .line {
    right: 0px !important;
  }
}
