@import "../../../styles";

.header_container {
  position: fixed;
  top: 0;
  /* @include flexbox($jc: space-between); */
  width: 100vw;
  max-width: 100%;
  height: 110px;
  z-index: 100;
}

.header_desktop {
  @include flexbox($jc: space-between);
  height: 100%;
  margin-left: 10vw;
  margin-right: 10vw;

  .logo {
    @include flexbox;

    img {
      width: 160px;
    }
  }

  .nav_menu {
    @include flexbox($gap: 30px);

    a {
      font-size: 23px;
      font-weight: 400;
      text-decoration: none;
      color: whitesmoke;

      &:hover {
        color: var(--green);
      }
    }
  }
}

#burgerMenu {
  display: none;
  cursor: pointer;
}

@media (max-width: 775px) {
  .nav_menu a {
    display: none;
  }

  #burgerMenu {
    display: flex;
  }
}