@import "../../../styles";

.header_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10%;
  z-index: 999;
  background-color: var(--dark_blue_bg);

  .logo {
    width: 8rem;
    height: 8rem;
  }
}

.nav_menu {
  display: flex;
  text-align: center;

  > a {
    color: var(--main_font_color);
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 4rem;

    &:hover {
      color: var(--green);
      transition: 0.5s;
    }
  }
}

#burgerMenu {
  display: none;
  cursor: pointer;
}

@media (max-width: 799px) {
  .nav_menu a {
    display: none;
  }

  #burgerMenu {
    display: flex;
  }
}
