div {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  z-index: -1;
  .shadow_left {
    position: absolute;
    top: 150px;
    left: -250px;
    height: 650px;
    transform: rotate(180deg);
  }
  .shadow_right {
    position: absolute;
    top: 400px;
    right: -150px;
    height: 500px;
  }
}

@media (max-width: 1300px) {
  .shadow_left {
    top: 50px !important;
    left: -350px !important;
  }
  .shadow_right {
    right: -250px !important;
  }
}

@media (max-width: 800px) {
  .shadow_left {
    top: 10px !important;
    left: -350px !important;
    height: 500px !important;
  }
  .shadow_right {
    right: -350px !important;
  }
}
