<section class="aboutMeSec" id="aboutMe">
  <div class="profile">
    <img src="./../../../assets/img/about_me/wave.png" class="wave" />
    <img src="./../../../assets/img/shadows/blueGreen.png" class="bg_spot" />
    <div class="profile_pic">
      <img src="./../../../assets/img/about_me/foto_daniel.png" class="pic" />
    </div>
  </div>
  <div class="content">
    <div class="about_me">
      <h2>About Me</h2>
    </div>
    <p class="intro_txt">
      Hi, I am a frontend developer from Stade, Germany. To improve my web
      development skills, I attended an extensive programming school, where I
      also learned professional ways of working in programming. Meanwhile, I
      developed various web apps, from responsive websites to business apps and
      games.<br />You are welcome to visit and test my projects.
    </p>
    <div class="about_me_content">
      <div class="icon" id="bulb">
        <img src="./../../../assets/img/about_me/bulb.png" />
      </div>
      <p>
        After years of experience as a master baker, I transitioned into a
        Frontend Web Developer with passion and determination. My extensive
        background instilled discipline, precision, and quality, easily
        transferring to web development. Through self-study and practical
        projects, I mastered programming languages like HTML, CSS, and
        JavaScript, along with frameworks like Angular and React. My portfolio
        includes diverse web applications developed independently or
        collaboratively.
      </p>
    </div>
    <div class="about_me_content">
      <div class="icon">
        <img src="./../../../assets/img/about_me/puzzle.png" />
      </div>
      <p>
        I excel at blending creativity with industry requirements, crafting
        innovative designs while adhering to best practices. In summary, I am a
        versatile and imaginative web developer, adept at meeting project
        requirements and deadlines. This blend of skills and experiences
        positions me well to excel in the industry, delivering exceptional
        digital solutions.
      </p>
    </div>
  </div>
</section>
