<section class="aboutMeSec" id="aboutMe">
  <div class="profile" data-aos="fade-left">
    <img src="./../../../assets/img/about_me/wave.png" class="wave" />
    <img src="./../../../assets/img/shadows/blueGreen.png" class="bg_spot" />
    <div class="profile_pic">
      <img src="./../../../assets/img/about_me/foto_daniel.png" class="pic" />
    </div>
  </div>
  <div class="content">
    <div class="about_me">
      <h2 data-aos="fade-right">{{ "about_me" | translate }}</h2>
    </div>
    <p class="intro_txt" data-aos="fade-left">
      {{ "intro_text1" | translate }}
      <br /><br />
      {{ "intro_text2" | translate }}
    </p>
    <div class="about_me_content" data-aos="fade-right">
      <div class="icon" id="bulb">
        <img src="./../../../assets/img/about_me/bulb.png" />
      </div>
      <p>
        {{ "content_text1" | translate }}
        <br /><br />
        {{ "content_text2" | translate }}
      </p>
    </div>
    <div class="about_me_content" data-aos="fade-left">
      <div class="icon">
        <img src="./../../../assets/img/about_me/puzzle.png" />
      </div>
      <p>
        {{ "content_text3" | translate }}
        <br /><br />
        {{ "content_text4" | translate }}
      </p>
    </div>
  </div>
</section>
