@import "../../shared/variables/variables.scss";
@import "../../../styles.scss";

$mobile-breakpoint: 520px;
$mobile-breakpoint-2: 800px;
$mobile-breakpoint-3: 1100px;
$mobile-breakpoint-4: 1400px;

.aboutMeSec {
  // border: 2px dotted red;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 6rem;

  .profile {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    z-index: 5;

    .wave {
      position: absolute;
      right: 0;
      left: 0;
      bottom: -50px;
      width: 100%;
      height: 100px;
      z-index: 10;
    }

    .bg_spot {
      position: absolute;
      bottom: 0px;
      width: 100%;
      max-width: 500px;
      z-index: -1;
    }
    .profile_pic {
      position: relative;
      .pic {
        object-fit: cover;
        width: 300px;
      }
      /* .picOverlay {
        position: absolute;
        top: 0;
        right: 0;
        object-fit: contain;
        width: 300px;
        z-index: 7;
      } */
    }
  }
  .content {
    position: relative;
    padding: var(--padding-page);
    word-wrap: break-word;
    text-wrap: balance;
    z-index: 7;

    .intro_txt {
      margin-bottom: 1rem;
    }

    .aboutMe {
      display: flex;
      flex-direction: row;
      align-items: center;

      h2 {
        font-size: clamp(2.4rem, 10vw, 5.6rem);
        white-space: nowrap;
      }
    }

    .aboutMeContent {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;

      .icon {
        img {
          object-fit: contain;
          width: 60px;
          height: 50px;
        }
      }

      p {
        margin-bottom: 1rem;
        word-wrap: break-word;
        text-wrap: balance;
      }
    }
  }
}

@media (min-width: $mobile-breakpoint-3) {
  .aboutMeSec {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 50px;
    .profile {
      align-items: flex-end;
      padding-left: unset;
      position: unset;
      .wave {
        bottom: -215px;
        height: 300px;
      }
      .pic {
        width: 380px;
      }
      .picOverlay {
        width: 380px;
      }
    }
    .content {
      padding-right: unset;
      width: 40%;
      min-width: 460px;
    }
  }
}

@media (min-width: $mobile-breakpoint-4) {
  .aboutMeSec {
    .pic {
      width: 440px !important;
    }
    .picOverlay {
      width: 440px !important;
    }
  }
}
