<div class="aboutMeSec" id="aboutMe">
  <div class="profile">
    <img src="./../../../assets/img/about_me/wave.png" class="wave" />
    <img src="./../../../assets/img/shadows/blueGreen.png" class="bg_spot" />
    <div class="profile_pic">
      <img src="./../../../assets/img/about_me/foto_daniel.png" class="pic" />
    </div>
  </div>
  <div class="content" data-aos="fade-right">
    <div class="aboutMe">
      <h2>About Me</h2>
    </div>
    <p class="intro_txt" data-aos="fade-right">
      Hi, I am a frontend developer from Stade, Germany. To improve my web
      development skills, I attended an extensive programming school, where I
      also learned professional ways of working in programming. Meanwhile, I
      developed various web apps, from responsive websites to business apps and
      games.<br />You are welcome to visit and test my projects.
    </p>
    <div class="aboutMeContent" data-aos="fade-right">
      <div class="icon" id="bulb">
        <img src="./../../../assets/img/about_me/bulb.png" />
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
        reiciendis repellendus dolore facere cupiditate ut sapiente sint minus
        vero! Vel architecto dicta odio atque voluptatum nemo delectus quod unde
        exercitationem!
      </p>
    </div>
    <div class="aboutMeContent" data-aos="fade-right">
      <div class="icon">
        <img src="./../../../assets/img/about_me/puzzle.png" />
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
        repudiandae, expedita autem, laboriosam error, quam voluptatem ab
        voluptates delectus ullam ratione velit ipsam distinctio ipsa alias
        doloribus. Similique, repudiandae atque.
      </p>
    </div>
  </div>
</div>
