@import "../../../../styles.scss";
@import "../../../shared/variables/variables.scss";

.footer {
  text-wrap: balance;
  box-shadow: 0px -5px 5px -3px rgba(112, 230, 28, 1);

  .footer_container {
    @include flexbox($jc: space-between, $g: 1.5rem);
    padding: 4rem 10rem 2rem 10rem;

    .logo_container {
      @include flexbox($fd: column);
      position: relative;

      .logo {
        @include flexbox;

        > img {
          width: auto;
          max-width: 12rem;
          object-fit: cover;
        }
      }
    }

    .legal_notices {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;

      .imprint,
      .privacy_policy {
        font-size: 1.1rem;
        color: var(--fontColor);
        text-decoration: none;

        &:hover {
          cursor: pointer;
          color: var(--green);
        }
      }
    }

    .name_container {
      margin: 1rem;
      > p {
        font-size: 1.4rem;
        font-weight: 400;
      }
    }

    .footer_links {
      @include flexbox($g: 3rem);

      > a {
        display: flex;
        padding: 3px;
        border-radius: 5px;
        border: 2px solid var(--fontColor);
        text-decoration: none;
        text-decoration-color: var(--turquoise);
        color: var(--fontColor);

        &:hover {
          background-color: var(--backgroundLight);
          border: 2px solid var(--turquoise);
          box-shadow: 0px 0px 5px 2px var(--backgroundLight);
          scale: 1.1;
          transition: 0.1s ease-in;
        }
      }

      img {
        width: 2.5rem;
        background: transparent;
      }
    }
  }

  @media only screen and (max-width: 1129px) {
    .footer_container {
      @include flexbox($fd: column, $g: 2rem);
      padding: unset;

      .name_container {
        > p {
          font-size: 1.1em;
          font-weight: 700;
        }
      }
    }
  }
}

@media only screen and (max-width: 1129px) {
  .footer {
    margin-bottom: 2rem;
  }
}
