<footer class="footer">

  <section class="footer_container">
    
    <div class="logo_container">

      <a class="logo" href="#top">
        <img src="../../../../assets/img/footer/logo.png" alt="Logo" />
      </a>

      <div class="legal_notices">
        <p><a href="imprint" class="imprint">Impress</a></p>
        <p><a href="" class="privacy_policy">Privacy Policy</a></p>
      </div>

    </div>

    <div class="name_container">
      <p>&#169; Daniel Sinteck 2024</p>
    </div>

    <div class="footer_links">
      <a href="#">
        <img src="../../../assets/img/footer/github.png" alt="Github"
      /></a>
      <a href="#">
        <img src="../../../assets/img/footer/mail.png" alt="E-Mail"
      /></a>
      <a href="#">
        <img src="../../../assets/img/footer/linkedIn.png" alt="LinkedIn"
      /></a>
    </div>

  </section>

</footer>
