<footer class="footer">

  <section class="footer_container">
    
    <div class="logo_container">

      <a class="logo" href="#top">
        <img src="../../../../assets/img/logo.png" alt="Logo" />
      </a>

      <div class="legal_notices">
        <p><a href="legal-notice" class="imprint">Impress</a></p>
        <p><a href="privacy-policy" class="privacy_policy">Privacy Policy</a></p>
      </div>

    </div>

    <div class="name_container">
      <p>&#169; Daniel Sinteck 2024</p>
    </div>

    <div class="footer_links">
      <a href="https://github.com/D4t3ck" target="_blank">
        <img src="../../../assets/img/footer/Github.png" alt="Github"
      /></a>
      <a href="https://www.linkedin.com/in/daniel-sinteck-434a71299/" target="_blank">
        <img src="../../../assets/img/footer/LinkedIn.png" alt="LinkedIn"
        /></a>
        <a href="mailto:contact@daniel-sinteck.de">
          <img src="../../../assets/img/footer/Mail.png" alt="E-Mail"
        /></a>
    </div>

  </section>

</footer>
