$mobile-breakpoint: 520px;
$mobile-breakpoint-2: 800px;
$mobile-breakpoint-3: 1100px;
$mobile-breakpoint-4: 1400px;
.imprintSec {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: var(--padding-page);
  padding-top: 70px;
  padding-bottom: 70px;
  z-index: 5;

  .subheadline {
    font-size: var(--subheadline-size2);
  }
  a {
    color: var(--white);
    text-decoration: none;
  }
}

@media (min-width: $mobile-breakpoint) {
  .imprintSec {
    display: block !important;
  }
}
