<section class="atf">
  <!-- <img class="shadow_left" src="../../../assets/img/shadows/lightBlue2.png" />

  <img class="shadow_right" src="../../../assets/img/shadows/blue4.png" /> -->

  <main>
    <div>
      <div class="rotate_txt">I'm</div>
      <div class="main_txt">
        <div>Daniel Sinteck</div>
        <div>FRONTEND DEVELOPER</div>
      </div>

      <div class="btn_container">
        <a href="#contact">Let's Talk</a>
      </div>
    </div>
  </main>

  <div class="social_links_container">
    <div class="social_links">
      <img src="../../../assets/img/atf/blueLine.png" />
      <a href="#">
        <img src="../../../assets/img/atf/github.png" alt="Github"
      /></a>
      <a href="#">
        <img src="../../../assets/img/atf/mail.png" alt="E-Mail"
      /></a>
      <a href="#">
        <img src="../../../assets/img/atf/linkedIn.png" alt="LinkedIn"
      /></a>
    </div>

    <div class="scroll">
      <div>Scroll Down!</div>
      <span></span>
      <span></span>
    </div>
  </div>
</section>
