<section>
  <div class="profile_container">
    <div class="profile">
      <img
        src="/assets/img/atf/Purple shadow footer v1 and portfolio section.png"
      />
      <img src="/assets/img/atf/Green shadow photo (ungrouped).png" />
      <img src="/assets/img/atf/foto_daniel.png" />
    </div>

    <div class="headline_container">
      <span class="vertical_txt">I am</span>
      <div class="headline">
        <div>Daniel Sinteck</div>
        <div>FRONTEND WEBDEVELOPER</div>
      </div>

      <button>
        <a href="#contact">Let's Talk</a>
      </button>
    </div>
  </div>

  <img class="vector" src="/assets/img/atf/Vector.png" />

  <div class="social_links">
    <img src="../../../assets/img/atf/Vector 1.png" />
    <div class="social_icons">
      <a href="#"
        ><img src="../../../assets/img/atf/Github button.png" alt="Github"
      /></a>
      <a href="#"
        ><img src="../../../assets/img/atf/Linkedin button.png" alt="LinkedIn"
      /></a>
      <a href="#"
        ><img src="../../../assets/img/atf/Email button.png" alt="E-Mail"
      /></a>
    </div>
  </div>
</section>
