@import "aos/dist/aos.css";
@import "./assets/fonts/font.scss";

:root {
  --green: #70e61c;
  --purple: #9747ff;
  --magenta: #ab086c;
  --lightBlue: #1cdae6;
  --turquoise: #21a3be;
  --background: #141d2f;
  --backgroundLight: #243455;
  --transparencyBlue: #414856;
  --fontColor: #f5f5f5;
  --headline-size: clamp(1.2rem, 10vw, 4rem);
  --subheadline-size: clamp(1rem, 10vw, 3rem);
  --subheadline-size2: 1.5rem;
  --font-size: 1rem;
  --padding-page: 0px 25px;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--turquoise);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  user-select: none;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  color: var(--fontColor);
  text-wrap: balance;
  overflow-y: hidden;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

h2 {
  font-size: var(--headline-size);
}

h4 {
  color: var(--turquoise);
}

.btn {
  width: max-content;
  background: var(--turquoise);
  border: unset;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 15px 30px;
  font-family: var(--font);
  font-size: var(--font-size);
  color: var(--fontColor);
  cursor: pointer;
  transition: 225ms ease-in-out;
  &:hover {
    transform: scale(1.2);
    transition: 225ms ease-in-out;
    background-color: var(--background);
    border: 1px solid var(--turquoise);
  }
}

.btnEmpty {
  width: max-content;
  background: unset;
  border: 1px dashed var(--turquoise);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 15px 30px;
  font-size: var(--subheadline-size2);
  color: var(--fontColor);
  cursor: pointer;
  transition: 225ms ease-in-out;
  &:hover {
    transform: scale(1.2);
    transition: 225ms ease-in-out;
    background-color: var(--turquoise);
  }
}
