<footer class="footer">
  <section class="info_container">
    <img src="" alt="Logo" />
    <p>&#169; Daniel Sinteck 2024</p>
    <div class="footer_links">
      <a href="#">
        <img src="../../../assets/img/footer/Github.png" alt="Github"
      /></a>
      <a href="#">
        <img src="../../../assets/img/footer/E_Mail.png" alt="E-Mail"
      /></a>
      <a href="#">
        <img src="../../../assets/img/footer/LinkedIn.png" alt="LinkedIn"
      /></a>
    </div>
  </section>
</footer>
